.breadcrumbs{

}

.breadcrumbs span{

}

.breadcrumbs a{

}

.breadcrumbs a:hover{

}

/** content ==========================================================================================================*/
.content{

}

.content h2 {
    margin: 5px 0px;
}

.content p {
    margin: 5px 0px;
}

.content img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content img.left {
    float: left;
}

.content img.right {
    float: right;
}

.content li {
    position: relative;
    text-decoration: underline;
    margin: 10px 0;
    padding-left: 45px;
    line-height: 29px;
}

.content li:before {
    background: rgba(0, 0, 0, 0) url("/assets/img/layout.png") no-repeat scroll -25px -65px;
    content: " ";
    height: 40px;
    position: absolute;
    width: 40px;
    left: 0;
}

.content table {
    width: 100%;
}

.content table thead {

}

.content table th {

}

.content table th:last-child {

}

.content table tfoot td{

}

/** news ============================================================================================================**/
.news{

}

.news-list{

}

.news-item{
    display: inline-block;
    text-align: center;
    border: 1px solid #cccccc;
    padding: 0;
    margin: 0 0 1.5em;
    width: 100%;
}

.news-item img{
    width: 100%;
}

.news-item .title{
    font-family: Arial, sans-serif;
    font-size: 1.25em;
}

.news-item .title a{
    color: #000000;
}

.news-item .title a:hover{
    color: #bc9f67;
}

.news-item .description{
    font-family: Arial,sans-serif;
    font-size: 0.95em;
    overflow: hidden;
    padding: 0 15px;
}

.news-item .date {

}

.news-item .news-col{
    margin-top: 30px;
}